mixin pilotAdminCard(pilot_user = {})
    if pilot_user.is_admin === "true"
        .group-row.pilot_mgmt_user
            - var is_it_this_user = (pilot_user.email === user.email )
            - var div_id = pilot_user.email.replace(/\.|\@/g,'_')
            div(id=div_id).pilot_mgmt_acct_form
                section.email_view
                    p= pilot_user.email
                .vertical_line
                section.pswd_input
                    if !is_it_this_user
                        p &bull; &bull; &bull; &bull; &bull;
                    else
                        a(href="#" id="password")= pilot_user.password
                        script.
                            makePasswordEditable( "#{div_id}", "#{pilot_user.email}", "#{pilot_user.password}" );
                .vertical_line
                section.is_active_input
                    p= (is_it_blocked ? "yes" : "no")