mixin pilotUserCard(pilot_user = {})
    .pilot_mgmt_user
        - var is_it_active = (pilot_user.is_active === "true")
        - var is_it_admin = (pilot_user.is_admin === "true")
        form.pilot_mgmt_acct_form(action=`/pilot_admin/mgmt_acct/${pilot_user.email}` method="POST")
            section.email_view
                b email
                p= pilot_user.email
            .vertical_line
            section.pswd_input
                label(for="password") password
                input.input(type="text" name="password" value=pilot_user.password required)
            .vertical_line
            section
                if is_it_admin
                    b active?
                    p= pilot_user.is_admin
                else
                    label(for="is_active") active?
                    input(type="checkbox" name="is_active" value="is_active" checked=is_it_active)
            .vertical_line
            section
                b admin?
                p= pilot_user.is_admin
            .vertical_line
            section.button_buff
                button.form_button(type="submit") &#10003
        .vertical_line
        form.pilot_mgmt_info_form(action=`/pilot_admin/mgmt_info/${pilot_user.email}` method="POST")
            section.info_input
                label(for="first_name") first name
                input(type="text" name="first_name" value=pilot_user.first_name)
            .vertical_line
            section.info_input
                label(for="last_name") last name
                input(type="text" name="last_name" value=pilot_user.last_name)
            .vertical_line
            section.info_input
                label(for="sid") student ID
                input(type="text" name="sid" value=pilot_user.sid)
            .vertical_line
            section.button_buff.right_buff
                button.form_button(type="submit") &#10003