extends __layout_cprght
block content_with_cprght
    h3.course_title
        |Math2220: Multivariable Calculus
    p
        |Logged in as <b>#{user.email}</b>

    #announcements.panel.panel-default
        .panel-heading
            h5
                |Announcements

        #announcement_items.panel-body
            p
                |Welcome to RichReview math feedback tool.

    #surveys.panel.panel-default
        .panel-heading
            h5
                |Surveys
        #survey_items.panel-body

    #submissions.panel.panel-default
        .panel-heading
            h5
                |Submissions
        .panel-body
            table( class="table table-striped table-hover ")
                thead
                    tr
                        <th>Item</th>
                        <th>Review</th>
                tbody

                tbody#submission_items
    #progress-modal
        #progress-bar.ui-progressbar

    link(rel='stylesheet', href='/stylesheets/course.css')
    link(rel="stylesheet", href="/static_viewer/lib_ext/font-awesome-animation.min.css")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js")
    script(type='text/javascript', src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
    script(type='text/javascript', src="/js/util_helper.js")
    script(type='text/javascript', src="/js/course_helper.js")
    script(type='text/javascript')
        | r2.course.init(
        |  '#{BLOB_HOST}',
        |  '#{HOST}',
        |  'math2220_sp2016',
        |  'student',
        |  '#{user.email}',
        |  '#{key}'
        | );