//
   Created by Dongwook on 2/11/2015.

extends mydocs

block mydocs_doc
   - var doc_id_n = doc.id.substring(4);
   - var panel_id = "panel_" + doc_id_n
   .panel.panel-default.panel-doc(style="margin-top:25px;" id=panel_id)
      .panel-heading(onclick = "SelectDoc('#{doc_id_n}')")
         .panel-heading-property(style="float:right")
            i.fa.fa-clock-o
            |&nbsp&nbsp&nbsp#{doc.creationTimeStr}
         h3.panel-title
            .panel-title-pdf(style="float:left; padding-right: 5px;")
               a.pdflink(style = "display:inline" href= "#{BLOB_HOST}#{doc.pdfid}/doc.pdf")
                  i.pdficon.fa.fa-file-pdf-o
            .doc-title
               a.doc-title-editable(id="doctitle_#{doc_id_n}" href="javscript:void(0);" data-type="text" data-pk="1" data-url="/dbs?op=RenameDoc" data-title="Rename document")
                  |&nbsp#{doc.name}
      .panel-body(style="padding:0;")
         each group in doc.groupsObj
            -var group_id_n = group.id.substring(4);
            -var group_id = "group_" + group_id_n;
            -var rrlink = HOST + "viewer?access_code=" + doc.pdfid + "&docid=" + doc_id_n + "&groupid=" + group_id_n;
            .group-row(id = "#{group_id}" onclick = "SelectGroup('#{doc_id_n}', '#{group_id_n}')" style="width:100%; padding:25px; border-bottom: 1px solid #dddddd; position:relative;")
               if docs_owned
                  .group-btns(style="float:right;")
                     a.btn.btn-info(style="margin-left:5px;padding:4px 7px;" onclick="ShareGroup('#{group_id.substring(6)}')" href="javscript:void(0);")
                        i.fa.fa-link
                        |&nbspShare
                     .btn-group(style="margin-left:5px;" role="group")
                        a.btn.btn-danger.dropdown-toggle(id = "DeleteBtn_#{doc_id_n}_#{group_id_n}" style="padding:4px 7px;" href="javscript:void(0);" data-toggle="dropdown")
                           i.fa.fa-trash
                           |&nbspDelete
                        ul.dropdown-menu(role="menu")
                           li
                              a(onclick="DeleteGroup('#{doc_id_n}', '#{group_id_n}')" href="javscript:void(0);")
                                 | I confirm. Go ahead!
               .group-title(style="font-size:14px; padding-bottom:15px;")
                  a.btn.btn-default.btn-sm(style="margin-right:10px;padding:4px 7px;" href="#{rrlink}" target="_blank")
                     i.fa.fa-external-link
                     |&nbspOpen
                  a.group-users-icon(style = "display:inline-block;" id="grouptitle_" + "#{group_id_n}" href="javscript:void(0);" data-type="text" data-pk="1" data-url="/dbs?op=RenameGroup" data-title="Rename group")
                     | #{group.name}
               .group-users
                  .group-users-heading(style="width:75px; float:left;margin-top:9px;text-align: right")
                     | Members:
                  .group-users-members(style="padding:2px;")
                     if(group.users.participating.length == 0)
                        div(style="overflow:hidden;padding: 7px 6px")
                           | no users
                     else
                  each groupuser in group.users.participating
                     .btn-group(style="margin-left:5px;" role="group")
                        a.btn.btn-sm.dropdown-toggle(style="box-shadow:0px 0px 2px rgba(0,0,0,0.6)" href="javscript:void(0);" data-toggle="dropdown" class = user.id === groupuser.id ? "btn-primary" : "btn-default")
                           i.fa.fa-user
                           |&nbsp#{groupuser.nick}
                        if docs_owned
                           ul.dropdown-menu(role="menu")
                              li
                                 a(onclick="RemoveGroupMember('#{group.id}', '#{groupuser.id}')" href="javscript:void(0);")
                                    | Remove

         if docs_owned
            .doc-btns(style="width:100%;")
               .addnew-group(style="padding:15px;")
                  a.btn.btn-primary.btn-sm(id = "AddNewGroupBtn_#{doc_id_n}" style="padding-left:15px;" onclick="AddNewGroup(\"#{doc.id}\")" href="javscript:void(0);")
                     i.fa.fa-plus-square
                     |&nbspAdd a New Group of this Document
                  .btn-group(style="float:right;" role="group")
                     a.btn.btn-danger.btn-sm.dropdown-toggle(id = "DeleteDocumentBtn_#{doc_id_n}" style="padding-left:15px;" href="javscript:void(0);" data-toggle="dropdown")
                        i.fa.fa-trash
                        |&nbspDelete This Document
                     ul.dropdown-menu(role="menu")
                        li
                           a(onclick="DeleteDocument('#{doc_id_n}')" href="javscript:void(0);")
                              | I confirm. Go ahead!
